.question-display {
    color: red;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

.user-display {
    text-align: right;
    font-size: small;
    opacity: 0.7;
}

.answer-display {
    /*color: rgb(12, 2, 2);*/
    /*font-style: italic; */
    opacity: 1;
    /*background-color: whitesmoke;*/
}

.form-display {
    width: 100%;
}

.middle-display {
    /*border: 1px solid silver;  */
    background-color: white;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: white;
    color: black;
}

.right-nav-display {
    margin-bottom: -20px;
    margin-top: -5px;
}

.username-display {
    margin-bottom: -20px;
    margin-top: -3px;
    font-weight: bold;
}

.first-half {
    background-color: hsl(300, 76%, 72%);
    font-size: 3em;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 380px;
    padding: 19px 200px;
}

.second-half {
    margin-top: 0px;
    /*background-color: hsl(0, 100%, 90%);*/
    font-size: 3em;
    height: auto;
    /*padding: 10px 200px; */
}

.third-display {
    margin-top: 0px;
    background-color: hsl(0, 100%, 90%);
    font-size: 3em;
    height: 380px;
    padding: 10px 200px;
}

.about-display {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 90px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}