{% load static %}
<!DOCTYPE  html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <title> ASKHere </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'default.css' %}">

</head>

<body  style="background-color: #f0f0f0;">
  
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container"> 
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">Ask Here</a>
                  </div>
                <ul class="nav navbar-nav">
                     
                    <li class ={% if page == 'index' %} "active" {% endif %} > <a href="{% url 'index' %}">Home</a> </li>
                    <li class ={% if page == 'about' %} "active" {% endif %} > <a href="{% url 'about' %}">About</a> </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if user.is_authenticated %}
                         
                        <li>  <a href="#" class="username-display"><p style="color: white;">{{ user.username }}</p>   </a>  </li>
                        <li> 
                            <a href="{% url 'logout' %}" class="right-nav-display">     
                              <button type="button" class="btn btn-danger">logout </button>
                            </a> 
                        </li> 
                    {%  else  %}
                    <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>

            </div>
        </nav>
        <br><br> <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-2"> 
                    <ul style="list-style-type:none;">
                        <li><a href="{% url 'index' %}"> 
                                <button class="btn btn-default btn-sm btn-block"> Feed  </button> 
                            </a> 
                        </li> <br>
                        {% for t in topics %}
                            <li>
                                <a href="{% url 'filter' topic_id=t.id %}" role="button"> 
                                    <button class="btn btn-default btn-sm btn-block">{{ t.topic }} </button>  
                                </a>  
                            </li>        
                            <br>
                        {% endfor %}
                    </ul>
                </div>  
                <div class="col-md-9 middle-display">
                    {% block content2 %}{% endblock %}
                </div>
                <div class="col-md-1">
                    {% block content3 %}{% endblock %}
                    <a href="{% url 'post_question' %}">
                        <button type="button" class="btn btn-info"> Post Question</button> 
                    </a>
                </div>    
            </div>
        </div>
</body>

</html>
