{% load static %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
<link rel="stylesheet" href="{% static 'login.css' %}">

<div class="wrapper">
    <form method="post" action="" class="form-signin">  {% csrf_token %}
        <h2 class="form-signin-heading">ChangePassword</h2>
        <input type="password" class="form-control" name="password" placeholder="password" required=""/>  <br>
        <button class="btn btn-danger btn-block" type="submit">ChangePassword</button>
    </form>
</div>