{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
<link rel="stylesheet" href="{% static 'login.css' %}">

<div class="wrapper">

    <form method="post" action="" class="form-signin"> {% csrf_token %}
        <h2 style="display: inline;"> Please Login</h2>
        <a href="{% url 'index' %}"><span class="glyphicon glyphicon-remove" style="float:right;"></span> </a>

        <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus=""/> <br>
        <input type="password" class="form-control" name="password" placeholder="password" required=""/> <br>
         
        <button type="submit" class="btn btn-lg btn-block btn-success">Login</button> <br>
        <a href="{% url 'signup' %}" class="btn btn-lg btn-block btn-success">SignUp</a>
    </form>
    {% for msg in messages %}
        <div class="row">
            <div class="col-lg-4"> </div>
            <div class="col-lg-4">
                <div class="alert alert-danger" style="width: fit-content;">  {{ msg }} </div>
            </div>
            <div class="col-lg-4"> </div>
        </div>    
    {% endfor %}
</div>